In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('Ecommerce Purchases')

In [3]:
ecom.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [4]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [5]:
ecom['Purchase Price'].mean()

50.34730200000025

In [6]:
ecom['Purchase Price'].max()

99.99

In [8]:
ecom['Purchase Price'].min()

0.0

In [25]:
sum(ecom['Language']=='en')

1098

In [24]:
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [31]:
ecom[ecom['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [33]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [38]:
ecom['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

In [43]:
ecom[ecom['Lot']=='90 WT'][['Purchase Price']]

     Purchase Price
513            75.1

In [46]:
ecom[(ecom['CC Provider']== 'American Express')&(ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [49]:
type(ecom['CC Exp Date'][0])

str

In [53]:
def expdatecheck(dates):
    if '25'in dates:
        return True
    else:
        return False

In [55]:
sum(ecom['CC Exp Date'].apply(lambda x : expdatecheck(x)))

1033

In [102]:
sum(ecom['CC Exp Date'].apply(lambda x : x[3:]=='25'))

1033

In [101]:
sum(ecom['CC Exp Date'].apply(lambda x :'25' in x))

1033

In [79]:
type(ecom['Email'][0])

str

In [84]:
def emaildomains(str):
    for x in str:
        return x.split('@')

In [85]:
mylist= ['qcoleman@hunt-huerta.com','qcoleman@hunt-huerta.com','qcoleman@hunt-huerta.com']
emaildomains(mylist)

['qcoleman', 'hunt-huerta.com']

In [90]:
ecom['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [104]:
ecom['Email'].head()

0                 pdunlap@yahoo.com
1                anthony41@reed.com
2    amymiller@morales-harrison.com
3       brent16@olson-robinson.info
4       christopherwright@gmail.com
Name: Email, dtype: object

In [105]:
ecom['Email'].iloc[0]

'pdunlap@yahoo.com'

In [107]:
ecom['Email'].iloc[0].split('@')

['pdunlap', 'yahoo.com']

In [108]:
ecom['Email'].iloc[0].split('@')[1]

'yahoo.com'

In [110]:
ecom['Email'].apply(lambda x:x.split('@')).head()

0                 [pdunlap, yahoo.com]
1                [anthony41, reed.com]
2    [amymiller, morales-harrison.com]
3       [brent16, olson-robinson.info]
4       [christopherwright, gmail.com]
Name: Email, dtype: object

In [111]:
ecom['Email'].apply(lambda x:x.split('@')[1]).head()

0               yahoo.com
1                reed.com
2    morales-harrison.com
3     olson-robinson.info
4               gmail.com
Name: Email, dtype: object

In [112]:
ecom['Email'].apply(lambda x:x.split('@')[1]).value_counts()

hotmail.com              1638
yahoo.com                1616
gmail.com                1605
smith.com                  42
williams.com               37
brown.com                  29
johnson.com                29
jones.com                  25
davis.com                  25
martinez.com               19
white.com                  15
martin.com                 15
miller.com                 14
garcia.com                 14
thompson.com               14
jackson.com                14
thomas.com                 14
rodriguez.com              14
hill.com                   13
taylor.com                 12
harris.com                 12
wilson.com                 11
walker.com                 11
moore.com                  11
king.com                   10
long.com                   10
lee.com                    10
roberts.com                10
anderson.com               10
hernandez.com              10
                         ...
peterson.org                1
cowan-taylor.org            1
church.com                  1
barnett-smith.com           1
mckinney.net                1
banks.com                   1
phillips-johnson.org        1
curtis.org                  1
blevins-acevedo.com         1
ellis-gonzalez.com          1
floyd-lopez.biz             1
kaufman.info                1
roman.net                   1
wilkerson.org               1
bailey-green.com            1
jackson.info                1
spence-browning.com         1
copeland.org                1
hale.info                   1
anderson-carson.net         1
davidson.com                1
simmons-zimmerman.com       1
james-stevenson.com         1
giles.info                  1
cunningham-miller.com       1
jones-hicks.com             1
poole.com                   1
huff.net                    1
davies.net                  1
hall-ochoa.com              1
Name: Email, Length: 3416, dtype: int64

In [113]:
ecom['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [114]:
def checkDomains(x):
    return x.split('@')[1]

In [117]:
ecom['Email'].apply(lambda x:checkDomains(x)).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64