# Data Capstone Finance Project Overview

In [3]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime 
%matplotlib inline

In [14]:
#bankdata file in case we need it due to API issues
df = pd.read_pickle('all_banks')

start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2016, 1, 1)

In [21]:
#google api can't be reached reliably have to use yahoo 
BAC = data.DataReader('BAC', 'yahoo', start, end)
C = data.DataReader('C', 'yahoo', start, end)
GS= data.DataReader('GS', 'yahoo', start, end)
JPM= data.DataReader('JPM', 'yahoo', start, end)
MS= data.DataReader('BAC', 'yahoo', start, end)
WFC= data.DataReader('BAC', 'yahoo', start, end)

In [23]:
BAC.head()
C.head()
GS.head()
JPM.head()
MS.head()
WFC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  35.953278
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  35.571438
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  35.617275
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  35.563797
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  35.586720

In [24]:
C.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,493.799988,481.100006,490.000000,492.899994,1537600.0,400.636993
2006-01-04,491.000000,483.500000,488.600006,483.799988,1870900.0,393.240295
2006-01-05,487.799988,484.000000,484.399994,486.200012,1143100.0,395.191223
2006-01-06,489.000000,482.000000,488.799988,486.200012,1370200.0,395.191223
2006-01-09,487.399994,483.000000,486.000000,483.899994,1680700.0,393.321686

In [25]:
GS.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,129.440002,124.230003,126.699997,128.869995,6188700.0,109.526077
2006-01-04,128.910004,126.379997,127.349998,127.089996,4861600.0,108.013260
2006-01-05,127.320000,125.610001,126.000000,127.040001,3717400.0,107.970749
2006-01-06,129.250000,127.290001,127.290001,128.839996,4319600.0,109.500565
2006-01-09,130.619995,128.000000,128.500000,130.389999,4723500.0,110.817924

In [26]:
JPM.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  40.360001  39.299999  39.830002  40.189999  12838600.0  28.218613
2006-01-04  40.139999  39.419998  39.779999  39.619999  13491500.0  28.055744
2006-01-05  39.810001  39.500000  39.610001  39.740002   8109400.0  28.140720
2006-01-06  40.240002  39.549999  39.919998  40.020000   7966900.0  28.338987
2006-01-09  40.720001  39.880001  39.880001  40.669998  16575200.0  28.799276

In [27]:
MS.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  35.953278
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  35.571438
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  35.617275
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  35.563797
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  35.586720

In [28]:
WFC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  35.953278
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  35.571438
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  35.617275
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  35.563797
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  35.586720

Bank Ticker    BAC                                       C                  \
Stock Info    Open   High    Low  Close     Volume    Open    High     Low
Date
2006-01-03   46.92  47.18  46.15  47.08   16296700  490.00  493.80  481.10
2006-01-04   47.00  47.24  46.45  46.58   17757900  488.60  491.00  483.50
2006-01-05   46.58  46.83  46.32  46.64   14970900  484.40  487.80  484.00
2006-01-06   46.80  46.91  46.35  46.57   12599800  488.80  489.00  482.00
2006-01-09   46.72  46.97  46.36  46.60   15620000  486.00  487.40  483.00
2006-01-10   46.40  46.51  45.88  46.21   15634800  483.00  485.50  480.80
2006-01-11   46.06  46.25  45.75  46.10   14745100  495.80  495.80  485.80
2006-01-12   46.22  46.23  45.71  45.80   10546600  491.00  491.00  488.80
2006-01-13   45.83  46.00  45.68  45.80   10791300  491.00  491.90  487.30
2006-01-17   45.40  45.58  45.00  45.31   14606100  485.10  487.00  482.70
2006-01-18   45.32  45.65  44.92  45.18   10911300  484.30  486.70  481.10
2006-01-19   45.88  45.88  44.85  45.14   14584000  485.60  485.80  477.00
2006-01-20   45.00  45.15  44.17  44.19   25164400  472.10  474.00  456.30
2006-01-23   43.50  44.39  43.49  43.96   23459900  460.00  463.80  457.00
2006-01-24   44.08  44.68  44.04  44.24   13500300  462.90  463.60  459.90
2006-01-25   44.15  44.65  44.15  44.63   15132000  461.40  463.70  460.10
2006-01-26   45.00  45.16  44.67  44.90   18449500  465.50  475.50  464.50
2006-01-27   44.90  45.11  44.61  44.80   12250800  470.10  473.70  466.00
2006-01-30   44.75  45.35  44.25  44.48   14816000  468.70  469.90  466.60
2006-01-31   44.65  44.73  44.12  44.23   19151000  468.30  470.50  465.50
2006-02-01   44.10  44.24  43.86  43.95   15854800  465.90  467.20  461.10
2006-02-02   43.95  43.97  43.37  43.44   14745300  459.00  461.00  451.00
2006-02-03   43.30  43.55  42.75  43.09   17097100  450.70  456.10  448.10
2006-02-06   43.40  43.65  43.24  43.37   12554600  452.60  456.10  450.90
2006-02-07   43.60  43.87  43.46  43.49   13917200  452.00  453.80  450.00
2006-02-08   43.55  43.72  43.34  43.67   12564600  453.30  455.30  450.70
2006-02-09   43.75  44.05  43.70  43.83   13766200  455.00  461.00  454.30
2006-02-10   43.77  44.02  43.41  43.92    9039000  457.00  460.70  452.50
2006-02-13   43.70  43.96  43.30  43.70    8329500  460.60  462.30  454.10
2006-02-14   43.92  44.49  43.73  44.16   17049500  457.80  462.50  457.10
...            ...    ...    ...    ...        ...     ...     ...     ...
2015-11-18   17.43  17.87  17.43  17.84   84683912   53.85   55.02   53.76
2015-11-19   17.78  17.85  17.62  17.69   51517056   54.88   55.30   54.74
2015-11-20   17.81  17.83  17.59  17.65   56108450   55.37   55.37   54.55
2015-11-23   17.62  17.73  17.46  17.47   50317909   54.67   54.84   54.15
2015-11-24   17.26  17.57  17.25  17.47   57915299   53.81   54.51   53.71
2015-11-25   17.51  17.57  17.41  17.44   34939034   54.29   54.33   53.76
2015-11-27   17.46  17.50  17.33  17.48   22935528   54.06   54.37   53.72
2015-11-30   17.48  17.58  17.42  17.43   59755532   54.34   54.46   53.97
2015-12-01   17.52  17.81  17.48  17.81   74130038   54.40   54.91   54.25
2015-12-02   17.88  17.89  17.55  17.62   76675759   54.99   55.02   54.03
2015-12-03   17.68  17.76  17.25  17.30   95810096   54.42   54.60   53.35
2015-12-04   17.44  17.83  17.38  17.80  103021728   53.66   55.33   53.52
2015-12-07   17.79  17.80  17.44  17.54   81633309   54.77   54.88   53.91
2015-12-08   17.39  17.46  17.13  17.19   84873480   53.84   54.01   53.18
2015-12-09   17.11  17.38  16.87  17.10   82418050   53.05   53.81   52.31
2015-12-10   17.15  17.41  16.96  17.20   68395011   52.89   53.24   52.17
2015-12-11   16.97  17.06  16.64  16.73   91503850   51.94   52.21   50.67
2015-12-14   16.76  16.89  16.50  16.80  120589534   51.14   51.73   50.50
2015-12-15   17.02  17.49  16.99  17.42   99737154   51.85   52.80   51.85
2015-12-16   17.65  17.78  17.23  17.75  171576652   53.04   54.01   52.30
2015-12-17   17.80  17.83  17.30  17.30   97265726   54.01   54.20   52.71
2015-12-18   17.19  17.26  16.76  16.76  136737824   52.46   52.68   51.16
2015-12-21   16.98  17.03  16.77  16.97   65150270   51.71   51.91   51.08
2015-12-22   17.05  17.11  16.85  17.08   56173502   51.99   52.13   51.39
2015-12-23   17.16  17.34  17.10  17.34   65770672   52.30   52.64   52.08
2015-12-24   17.32  17.38  17.22  17.27   29373415   52.48   52.97   52.45
2015-12-28   17.22  17.23  16.98  17.13   41777497   52.57   52.57   51.96
2015-12-29   17.25  17.35  17.16  17.28   45670376   52.76   53.22   52.74
2015-12-30   17.20  17.24  17.04  17.05   35066378   52.84   52.94   52.25
2015-12-31   17.01  17.07  16.83  16.83   47152968   52.07   52.39   51.75

Bank Ticker                    ...     MS                                 \
Stock Info    Close    Volume  ...   Open   High    Low  Close    Volume
Date                           ...
2006-01-03   492.90   1537660  ...  57.17  58.49  56.74  58.31   5377000
2006-01-04   483.80   1871020  ...  58.70  59.28  58.35  58.35   7977800
2006-01-05   486.20   1143160  ...  58.55  58.59  58.02  58.51   5778000
2006-01-06   486.20   1370250  ...  58.77  58.85  58.05  58.57   6889800
2006-01-09   483.90   1680740  ...  58.63  59.29  58.62  59.19   4144500
2006-01-10   485.40   1365960  ...  58.85  59.22  58.58  59.22   4713600
2006-01-11   489.80   1684440  ...  59.15  59.88  58.84  59.57   5837900
2006-01-12   490.30   1230060  ...  59.63  59.78  59.27  59.47   3817700
2006-01-13   489.20    940930  ...  59.57  59.67  59.06  59.38   3430900
2006-01-17   484.30   1237830  ...  59.45  59.46  58.68  58.81   2624700
2006-01-18   483.80   1218910  ...  58.55  58.90  58.05  58.58   2904300
2006-01-19   479.40   1696500  ...  58.75  59.98  58.71  59.35   3813000
2006-01-20   456.90   4781930  ...  59.30  59.55  57.41  57.85   5446100
2006-01-23   460.00   2025500  ...  57.70  58.69  57.70  58.48   3801000
2006-01-24   460.10   2083740  ...  58.82  59.45  58.62  58.69   3813600
2006-01-25   462.30   1591940  ...  59.00  59.42  58.55  59.17   4011700
2006-01-26   470.10   1988600  ...  61.11  60.50  59.49  59.97   5790400
2006-01-27   468.70   1412760  ...  60.00  61.00  59.79  60.78   3700100
2006-01-30   468.20   1057630  ...  61.45  61.85  60.64  60.67   4246600
2006-01-31   465.80   1887280  ...  60.50  61.91  60.49  61.45   5178400
2006-02-01   463.30   1844970  ...  61.10  61.96  60.89  61.83   3586000
2006-02-02   451.80   2325470  ...  61.65  62.14  60.85  61.27   3469800
2006-02-03   450.60   1666510  ...  60.60  62.15  60.36  61.44   3961600
2006-02-06   451.70   1147430  ...  61.26  61.91  61.23  61.73   2629500
2006-02-07   450.50   1207780  ...  61.35  61.54  60.27  60.53   3811900
2006-02-08   453.60   1051370  ...  61.15  61.36  60.80  61.27   2719000
2006-02-09   457.90   1357740  ...  61.27  61.90  61.10  61.18   2714000
2006-02-10   459.60   1272030  ...  61.00  61.14  59.38  60.31   4483600
2006-02-13   456.80   1158300  ...  60.20  60.58  59.39  59.81   4104900
2006-02-14   461.20   1518040  ...  59.81  60.46  59.21  60.07   3715100
...             ...       ...  ...    ...    ...    ...    ...       ...
2015-11-18    54.98  18982232  ...  33.69  34.31  33.61  34.25  10325561
2015-11-19    55.06  11997487  ...  34.28  34.44  33.95  34.17   7836970
2015-11-20    54.75  14880188  ...  34.33  34.53  33.78  33.91   8623629
2015-11-23    54.28  14531482  ...  33.92  34.14  33.57  33.64   7950577
2015-11-24    54.18  12900591  ...  33.27  33.78  33.18  33.59   7806610
2015-11-25    54.08   9859420  ...  33.62  33.75  33.44  33.61   6209990
2015-11-27    54.21   5483332  ...  33.63  33.92  33.48  33.78   3014557
2015-11-30    54.09  13900362  ...  33.81  34.53  33.70  34.30  17128620
2015-12-01    54.88  11854218  ...  34.60  35.35  34.60  35.27  18590807
2015-12-02    54.14  15262881  ...  35.36  35.40  34.72  34.89  10996449
2015-12-03    53.51  19749990  ...  35.05  35.22  34.29  34.45  15021229
2015-12-04    55.09  21464081  ...  34.66  35.58  34.40  35.32  13205404
2015-12-07    54.40  15077326  ...  35.28  35.31  34.42  34.68   8389228
2015-12-08    53.39  14785485  ...  34.23  34.35  33.84  34.06  10613371
2015-12-09    52.81  19903691  ...  33.80  34.31  33.09  33.37  13211217
2015-12-10    52.65  16333817  ...  33.50  33.90  33.28  33.42  10674487
2015-12-11    51.11  24093472  ...  32.81  33.04  31.93  32.08  16133019
2015-12-14    51.10  21540948  ...  32.13  32.52  31.39  31.88  14942519
2015-12-15    52.52  21642329  ...  32.64  33.08  32.56  32.84  13708783
2015-12-16    53.90  26044762  ...  33.17  33.77  32.68  33.61  13682879
2015-12-17    52.84  17179578  ...  33.83  33.85  32.36  32.38  15959804
2015-12-18    51.21  25509621  ...  32.13  32.25  31.25  31.29  19331713
2015-12-21    51.79  16928994  ...  31.62  31.80  31.19  31.68  10920073
2015-12-22    52.01  13241343  ...  31.96  32.38  31.61  32.22  11468401
2015-12-23    52.63  14950224  ...  32.47  32.73  32.28  32.60   6807062
2015-12-24    52.71   4671254  ...  32.57  32.71  32.44  32.48   2798163
2015-12-28    52.38   8761743  ...  32.36  32.36  31.95  32.17   5420280
2015-12-29    52.98  10155134  ...  32.44  32.70  32.32  32.55   6388244
2015-12-30    52.30   8763337  ...  32.50  32.64  32.20  32.23   5057162
2015-12-31    51.75  11281771  ...  31.91  32.30  31.77  31.81   8154307

Bank Ticker    WFC
Stock Info    Open   High    Low  Close    Volume
Date
2006-01-03   31.60  31.98  31.20  31.90  11016400
2006-01-04   31.80  31.82  31.36  31.53  10871000
2006-01-05   31.50  31.56  31.31  31.50  10158000
2006-01-06   31.58  31.78  31.38  31.68   8403800
2006-01-09   31.68  31.82  31.56  31.68   5619600
2006-01-10   31.55  31.68  31.44  31.65   7157800
2006-01-11   31.65  31.90  31.58  31.82   8049600
2006-01-12   31.70  31.79  31.43  31.44  10763600
2006-01-13   31.55  31.80  31.51  31.62   6366000
2006-01-17   31.46  31.58  31.20  31.30  10690600
2006-01-18   31.30  31.84  31.30  31.67  10798000
2006-01-19   31.80  31.82  31.27  31.30   8713400
2006-01-20   31.31  31.31  30.75  30.75  18175400
2006-01-23   30.76  30.97  30.75  30.80   7047400
2006-01-24   30.82  30.98  30.66  30.80   8232400
2006-01-25   30.84  31.06  30.73  31.00   8580800
2006-01-26   31.24  31.50  31.18  31.28   8598000
2006-01-27   31.28  31.60  31.04  31.35   7640000
2006-01-30   31.35  31.36  31.15  31.24   5756400
2006-01-31   31.12  31.30  31.10  31.18  11763400
2006-02-01   30.95  30.98  30.75  30.92   8224400
2006-02-02   30.82  30.90  30.60  30.65   9831600
2006-02-03   30.42  30.72  30.31  30.52   7532400
2006-02-06   30.42  30.60  30.34  30.52   7290000
2006-02-07   30.50  30.68  30.45  30.56   8097000
2006-02-08   30.50  30.72  30.40  30.66   5928000
2006-02-09   30.60  30.82  30.50  30.62   7052600
2006-02-10   30.64  30.97  30.57  30.86   6501200
2006-02-13   30.78  30.88  30.60  30.82   5401400
2006-02-14   30.95  31.58  30.89  31.32   8263600
...            ...    ...    ...    ...       ...
2015-11-18   55.06  55.77  54.96  55.67  16416736
2015-11-19   55.77  56.07  55.46  55.97  12151961
2015-11-20   56.26  56.26  55.72  55.82  16259282
2015-11-23   55.90  56.04  55.56  55.60   9636883
2015-11-24   55.14  55.48  54.88  55.28  14156491
2015-11-25   55.46  55.52  55.10  55.22  10034400
2015-11-27   55.34  55.47  54.98  55.39   4914008
2015-11-30   55.46  55.69  55.10  55.10  15170742
2015-12-01   55.51  55.77  55.27  55.71  15520744
2015-12-02   55.80  55.80  55.00  55.08  12760806
2015-12-03   55.13  55.22  54.03  54.20  15410137
2015-12-04   54.48  55.88  54.30  55.67  19647728
2015-12-07   55.45  55.56  55.02  55.42  17991639
2015-12-08   54.98  55.20  54.28  54.40  19949494
2015-12-09   54.12  54.94  53.71  54.12  18499649
2015-12-10   54.25  54.98  53.88  54.34  14075334
2015-12-11   53.45  53.94  52.99  53.31  17815729
2015-12-14   53.32  53.57  52.75  53.20  21977431
2015-12-15   53.83  55.12  53.81  54.91  19056701
2015-12-16   55.21  56.04  54.82  55.85  21086759
2015-12-17   56.11  56.24  55.47  55.47  18800520
2015-12-18   55.00  55.15  53.79  53.79  31468584
2015-12-21   54.30  54.54  53.55  54.02  12993380
2015-12-22   54.36  54.50  53.70  54.34  10318062
2015-12-23   54.60  55.06  54.46  55.04  13033579
2015-12-24   54.97  55.09  54.71  54.82   4999417
2015-12-28   54.55  54.78  54.17  54.68   8288841
2015-12-29   55.11  55.35  54.99  55.29   7894876
2015-12-30   55.27  55.31  54.79  54.89   8016893
2015-12-31   54.51  54.95  54.22  54.36  10929767

[2517 rows x 30 columns]