## Mandatory Python crash course .... again... 
## Feel free to check other files whoever finds this.

In [2]:
1

1

In [3]:
1.0

1.0

In [4]:
1+1

2

In [5]:
1*3

3

In [6]:
1/2

0.5

In [7]:
2**4

16

In [10]:
2+3*5+5

22

In [11]:
(2+3)*(5+5)

50

In [12]:
4%2

0

In [13]:
5%2

1

In [14]:
vari = 2

In [15]:
vari

2

In [43]:
x=2
y=3
x+y

5

In [44]:
x=x+x

In [45]:
x

4

In [46]:
x**2

16

In [47]:
#no nums at the start of a var
# _ is your friend for chainingwords together
name__of_var = 12

In [48]:
#oh BTW # is commenting writewhatever you want here without messing up code.

'this is a string'

'this is a string'

In [49]:
"this is also a string so you can use apostrophes liberaly and don't worry about it. "

"this is also a string so you can use apostrophes liberaly and don't worry about it. "

In [50]:
f'this is a f string literal {x} + {y}.'

'this is a f string literal 4 + 3.'

In [51]:
num = 12
name = 'Sam'

In [54]:
# another way to f string
'My number is {} and my name is {}.'.format(num,name)

'My number is 12 and my name is Sam.'

In [55]:
#another
'My number is {one} and my name is {two}.'.format(one= num,two = name)

'My number is 12 and my name is Sam.'

In [64]:
s ='hellothere'

In [65]:
s[1] #this is indexing. index starts at 0 not 1

'e'

In [68]:
s[5:] #colon goes to end

'there'

In [70]:
s[:5] # or start depending on placement.

'hello'

In [79]:
s[3:6] #between

'lot'

In [80]:
s[0:2]+s[8:] # Showing off because I can do this in my sleep

'here'

In [107]:
 thing1  = [1,2,3,] #lists

In [108]:
['a','b','c', x] #works x is variabe anything can be sotred in a list

['a', 'b', 'c', 4]

In [109]:
(1,2,3,4) #tuple cant be changed

(1, 2, 3, 4)

In [110]:
#lists can
thing1.append(4)
thing1

[1, 2, 3, 4]

In [111]:
thing1.pop(3) #and removed

4

In [112]:
thing1

[1, 2, 3]

In [115]:
thing1[0]='new item'
thing1

['new item', 2, 3]

In [116]:
thing1[0]=1
thing1.append(4)
thing1

[1, 2, 3, 4]

In [117]:
#yo dawg i heard you like lists

listception = [1,2,3,4,[1,2],[2,1]]
listception[5][0]

2

In [133]:
# we need to go deeper

listception2 = [1,2,3,4,5,[1,2,[3,4,[5,6,['thing']]]]]
listception2[5][2][2][2] #check to see if the top is still spinning

['thing']

In [138]:
#dictionaries

d = {'key':'Value', 'notherkey':123, 'yetAnthrKey':[1,2,3,4,5]}

In [144]:
x = d['yetAnthrKey']

In [145]:
x.append(13)
d

{'key': 'Value', 'notherkey': 123, 'yetAnthrKey': [1, 2, 3, 4, 5, 13]}

In [146]:
#dictionary in dictionary
e = {'key':'Value', 'notherkey':123, 'yetAnthrKey':{"two":2,'four':4,'five':5}}
e['yetAnthrKey']['four']

4

In [147]:
#changing it
e['yetAnthrKey']['four'] = 'four'
e

{'key': 'Value',
 'notherkey': 123,
 'yetAnthrKey': {'two': 2, 'four': 'four', 'five': 5}}

In [150]:
e['yetAnthrKey']['four'] = ['four', 4, 'fore', 'thor']

e

{'key': 'Value',
 'notherkey': 123,
 'yetAnthrKey': {'two': 2, 'four': ['four', 4, 'fore', 'thor'], 'five': 5}}

In [151]:
#booleans  

True 
#or 
False

False

In [154]:
#tuples can't be changed

tuples_example = (1,2,3,4)
list_example = [1,2,3,4]

In [155]:
list_example[0] = 'CHANGED'
list_example

['CHANGED', 2, 3, 4]

In [156]:
tuples_example[0] = 'CHANGED'  # DOESN'T WORK >:C

TypeError: 'tuple' object does not support item assignment

In [158]:
#sets are just dictionaries without the key/values 
#you cant change order but you can add and remove
#no duplicates either
sets1 = {1,2,3,4,5,5,5,5,5,5,5,5}
sets1

{1, 2, 3, 4, 5}

In [163]:
#also if you need to check mroe quickly
# as a bonus it arranges in numeric order for us
set([84,1,1,1,11,2,2,3,4,5,3,4,5,5,5,5])

{1, 2, 3, 4, 5, 11, 84}

In [165]:
#adding to sets
sets1.add(84)
sets1

{1, 2, 3, 4, 5, 84}

In [166]:
sets1.remove(84)

In [167]:
sets1

{1, 2, 3, 4, 5}

In [176]:
1<2

True

In [169]:
2>1

True

In [171]:
2==2

True

In [172]:
3!=0

True

In [173]:
3>=0

True

In [174]:
0<=3

True

In [177]:
1 < 2 and 2 > 0

True

In [180]:
(2>1) or (1<0)

True

In [182]:
(1 < 2) and (2 < 0)

False

In [183]:
(2>1) or (1<0) or (1==1)

True

In [184]:
if 1>2:
    print('gotta put something here')
else:
    print('go back to school')

go back to school

In [186]:
if 1>2:
    print('gotta put something here')
elif 2>1:
    print('correct')
else:
    print('go back to school')

correct

In [189]:
seq = [1,2,3,4,5,6]

for x in seq:
    print(x)

1
2
3
4
5
6

In [191]:
x = 0 
while x != 15:
    x+=1
    print(f'x is {x}')

x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is 8
x is 9
x is 10
x is 11
x is 12
x is 13
x is 14
x is 15

In [192]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [197]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
out

[1, 4, 9, 16]

In [203]:
out = [num**3 for num in x]

In [204]:
out

[1, 8, 27, 64]

In [208]:
def function1(x):
    print(f'hello {x}. Good to see you')

In [211]:
function1(2)
function1('Rodger')

hello 2. Good to see you
hello Rodger. Good to see you

In [217]:
def square(num):
    """DOCSTRING
    Put a number in not a string
    """
    if type(num) != int:
        print('Put a number in')
    else:
        return num**2

In [218]:
square(12)

144

In [ ]:
#shift tab in jupyter to read quickly pull up doc strings

In [ ]:
#lambdas

In [231]:
def times2(var):return var*2

In [228]:
times2(5)

10

In [234]:
seq = [1,2,3,4,5]

In [226]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [232]:
t = lambda var:var*2
t(6)

12

In [235]:
list(map(lambda var:var*2, seq))

[2, 4, 6, 8, 10]

In [242]:
list(map(lambda x:(x+3)**8,seq))

[65536, 390625, 1679616, 5764801, 16777216]

In [246]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [241]:
1^3

2

In [247]:
s = 'Hello my name is Sam'

s.lower()

'hello my name is sam'

In [248]:
s.upper()

'HELLO MY NAME IS SAM'

In [249]:
s

'Hello my name is Sam'

In [255]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [256]:
tweet = 'Go sports! #sports'

In [260]:
tweet.split("#")[1]

'sports'

In [261]:
d = {'k1':1, 'k2':2}

In [262]:
d.keys

In [264]:
d.keys()

dict_keys(['k1', 'k2'])

In [265]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [266]:
d.values()

dict_values([1, 2])

In [267]:
lst = [1,2,3]

In [268]:
lst.pop()

3

In [270]:
lst

[1, 2]

In [271]:
lst = [1,2,3,4,5]

In [272]:
item= lst.pop()

In [273]:
item

5

In [274]:
's' in lst

False

In [275]:
4 in lst

True

In [276]:
x = [(1,2),(3,4),(5,6)]

In [279]:
x[0][0]

1

In [280]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [284]:
for a,b in x:
    print(b)
    print(a)

2
1
4
3
6
5

In [285]:
list(map(lambda x:x+2,lst))

[3, 4, 5, 6]

In [287]:
#easy exercise challenges 

7**4

2401

In [289]:
s ='Hi there sam!'
s = list(s.split())
s

['Hi', 'there', 'sam!']

In [291]:
planet = "Earth"
diameter = 12742

print(f'the diamater of {planet} is {diameter} kilometers.')

the diamater of Earth is 12742 kilometers.

In [295]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [306]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [307]:
#lists can be arranged changed appened to apopped from etc. tuples are a more fixed array

In [334]:
def domainGet(email):
    return email.split('@')[1]

In [335]:
domainGet('user@domain.com')

'domain.com'

In [338]:
def findDoggo(s):
    return 'dog' in s.lower().split()

In [339]:
findDoggo('is there a dog in this sentence?')

True

In [343]:
def countdog(s):
    counter = 0 
    for x in s.lower().split():
        if x == 'dog':
            counter+=1
    return counter

In [346]:
countdog('I like hot dog because it is not a dog . Do you like hot dog ? eat. eat. eat the hot dog . Burger. coca-cola ')

4

In [317]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda x:x[0] =='s',seq))

['soup', 'salad']

In [330]:
def caught_speeding(speed, is_birthday):
    if is_birthday == True:
        speed-=5
    else:
        speed=speed
    if speed <= 60:
        x = 'No Ticket'
    elif speed >= 61 and speed <= 80:
        x= 'Small Ticket'
    else:
        x= 'Big Ticket'
    return x

In [333]:
caught_speeding(80,False)

'Small Ticket'